<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Simple summarizer Demo</title>


</head>
<body>
<section id="page-wrapper">
  <div class="vertical-align">
   
            <div class="">
            

              <div id="form-messages" class="wrapper-messages scrollbar">
					<div class="loader" id="loaderId">
					   <span></span>
					   <span></span>
					   <span></span>
					</div>			  	  
				<div class="message question" id="firstMsgId"> Hello, I am summarizer with basic need. How can I help you?</div>
			  </div>
              <div ></div>
              
              <div class="field message-input">
                <label for="name">Please copy and paste your paragraph here</label>
                <input type="text" id="name" name="name" required >
				<div class="bttn">
                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </div>
			  <div class="clearfix"></div>
              </div>
              
              
              
            </div>
          
     
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script>
$(document).ready(function(){
$("#loaderId").removeClass("hidden");
$("button").click( function(){
		
		//$("button").on("keyup", function(){
			//console.log('keyed');
		
	var dataraw = $("#name").val();
	var data = {"foo" : dataraw}
			
		$.ajax({ type : "POST", 
			url : "/response/", 
			data: JSON.stringify(data, null, '\t'), 
			contentType: 'application/json;charset=UTF-8', 
			success: function(result){ 
					console.log(result); 
					var count = 0;
					var question = $('<div class="message question" ></div> ');
					question.html(dataraw);
					var dynaDiv = $('<div class="message answer" ></div>');
					dynaDiv.html(resultText);				
					question.appendTo("#form-messages");
					dynaDiv.appendTo("#form-messages");
					$("#loaderId").addClass("hidden");
					
					var randomMsg = getRandomMsg();				
					var defaultans = $('<div class="message answer" ></div>');
					defaultans.html(randomMsg);
					defaultans.appendTo("#form-messages");

					$("#name").val('');
					//$("#form-messages").after(question, dynaDiv);				
					//question.appendTo(dynaDiv);
					//dynaDiv.appendTo("#form-messages");
					count = count+1;
					$(".wrapper-messages").stop().animate({ scrollTop: $(".wrapper-messages")[0].scrollHeight}, 1000);
				 }});
			});
			
		
		var goodByeMsg = [
			' What else would you like to know ',
			' Is there anything else I can help you with ',
			' Do you have anything else to ask ',
			' Can I help you with anything else ',
			' Is there any other question in your mind ',
			' Do you have any other query '
		];

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

		function getRandomMsg() {
			if (goodByeMsg.length != 0) {
				var randomNum = getRandomInt(0, goodByeMsg.length - 1);
				return goodByeMsg[randomNum];
			}
		}	

	});
</script>
</body>
</html>
